[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
[user]
  name = Nathan Wise
  email = nathanwise@gmail.com
[merge]
  tool = extMerge
[mergetool "extMerge"]
  cmd = extMerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false
  keepBackup = false
[core]
  editor = /usr/bin/vim
  excludesfile = /Users/nwise/.gitignore_global
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[branch]
	autosetuprebase = always
